<div class="jumbotron d-flex align-items-center min-vh-100">
  <div class="container">
    <h1 class="display-4">Welcome to the 70's Bakery Management System!</h1>
    <p class="lead">Manage your employees, customers, orders, and more!</p>
  </div>
</div>