<div class="jumbotron d-flex align-items-center min-vh-100">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h4>Products in order #{{orderID}}:</h4>
        <div class="mt-2 col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">productID</th>
                <th scope="col">productName</th>
                <th scope="col">remove product</th>
              </tr>
            </thead>
            <tbody>
              {{#each rows}}
              <tr data-id="{{this.productID}}">
                <td>{{this.productID}}</td>
                <td>{{this.productName}}</td>
                <td><button type="button" class="btn btn-primary removeButton">remove product</button></td>
              </tr>
              {{/each}}

            </tbody>
          </table>
        </div>
        <div>
          <h5>Search new product to add order:</h5>
        </div>
        <div class="input-group mb-3">

          <input type="search" class="form-control" placeholder="Enter product name" aria-label="enter product name">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">search</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>