<div class="jumbotron d-flex align-items-center min-vh-100">
  <div class="container">
    Products...
    <div class="card">
      <div class="card-body">

        <form>
          <h5>Add new product</h5>
          <div class="form-group">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control" id="productName" placeholder="Enter product name">
          </div>
          <div class="form-group">
            <label for="productPrice">Product Price</label>
            <input type="text" class="form-control" id="productPrice" placeholder="Enter product price">
          </div>
          <div class="form-group">
            <label for="productCalorie">Product Calorie</label>
            <input type="text" class="form-control" id="productCalorie" placeholder="Enter product calorie">
          </div>
          <div class="form-group">
            <label for="productCategory">Product Category</label>
            <input type="text" class="form-control" id="productCategory" placeholder="Enter product category">
          </div>

          <div class="mt-2 col-md-12">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>

      </div>
    </div>
    <div class="mt-2 col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">productID</th>
            <th scope="col">productName</th>
            <th scope="col">productPrice</th>
            <th scope="col">productCalorie</th>
            <th scope="col">productCategory</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Latte</td>
            <td>5</td>
            <td>200</td>
            <td>Drinks</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Bagel</td>
            <td>3</td>
            <td>100</td>
            <td>Pastry</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>