<div class="jumbotron d-flex align-items-center min-vh-100">
  <div class="container">
    Product Categories...

    <div class="card">
      <div class="card-body">

        <form>
          <h5>Add new product category</h5>
          <div class="form-group">
            <label for="categoryName">Category Name</label>
            <input type="text" class="form-control" id="categoryName" placeholder="Enter category name">
          </div>


          <div class="mt-2 col-md-12">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>

      </div>
    </div>
    <div class="mt-2 col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">categoryID</th>
            <th scope="col">categoryName</th>
          </tr>
        </thead>
        <tbody>
          {{#each rows}}
          <tr data-id="{{this.categoryID}}">
            <td>{{this.categoryID}}</td>
            <td>{{this.categoryName}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>